<!DOCTYPE html>
<html>
<head>
   <title>光山腩潮鲜火锅</title>
</head>
<body id="activity-detail" class="zh_CN mm_appmsg  appmsg_skin_default appmsg_style_default ">

<script nonce="1988715561" type="text/javascript">
    var biz = "Mzg5MzA0NTA2OQ=="||"";
    var sn = "6d7535097a81db930f2121e6db95e894" || ""|| "";
    var mid = "2247483668" || ""|| "";
    var idx = "1" || "" || "";
    var LANG= "zh_CN";
    window.__allowLoadResFromMp = true;

</script>
<script nonce="1988715561" type="text/javascript">
var page_begintime=+new Date,is_rumor="",norumor="";
1*is_rumor&&!(1*norumor)&&biz&&mid&&(document.referrer&&-1!=document.referrer.indexOf("mp.weixin.qq.com/mp/rumor")||(location.href="http://mp.weixin.qq.com/mp/rumor?action=info&__biz="+biz+"&mid="+mid+"&idx="+idx+"&sn="+sn+"#wechat_redirect"));





</script>
<script nonce="1988715561" type="text/javascript">
var MutationObserver=window.WebKitMutationObserver||window.MutationObserver||window.MozMutationObserver,isDangerSrc=function(t){
if(t){
var e=t.match(/http(?:s)?:\/\/([^\/]+?)(\/|$)/);
if(e&&!/qq\.com(\:8080)?$/.test(e[1])&&!/weishi\.com$/.test(e[1]))return!0;
}
return!1;
},ishttp=0==location.href.indexOf("http://");
-1==location.href.indexOf("safe=0")&&ishttp&&"function"==typeof MutationObserver&&"mp.weixin.qq.com"==location.host&&(window.__observer_data={
count:0,
exec_time:0,
list:[]
},window.__observer=new MutationObserver(function(t){
window.__observer_data.count++;
var e=new Date,r=[];
t.forEach(function(t){
for(var e=t.addedNodes,o=0;o<e.length;o++){
var n=e[o];
if("SCRIPT"===n.tagName){
var i=n.src;
isDangerSrc(i)&&(window.__observer_data.list.push(i),r.push(n)),!i&&window.__nonce_str&&n.getAttribute("nonce")!=window.__nonce_str&&(window.__observer_data.list.push("inlinescript_without_nonce"),
r.push(n));
}
}
});
for(var o=0;o<r.length;o++){
var n=r[o];
n.parentNode&&n.parentNode.removeChild(n);
}
window.__observer_data.exec_time+=new Date-e;
}),window.__observer.observe(document,{
subtree:!0,
childList:!0
})),function(){
if(-1==location.href.indexOf("safe=0")&&Math.random()<.01&&ishttp&&HTMLScriptElement.prototype.__lookupSetter__&&"undefined"!=typeof Object.defineProperty){
window.__danger_src={
xmlhttprequest:[],
script_src:[],
script_setAttribute:[]
};
var t="$"+Math.random();
HTMLScriptElement.prototype.__old_method_script_src=HTMLScriptElement.prototype.__lookupSetter__("src"),
HTMLScriptElement.prototype.__defineSetter__("src",function(t){
t&&isDangerSrc(t)&&window.__danger_src.script_src.push(t),this.__old_method_script_src(t);
});
var e="element_setAttribute"+t;
Object.defineProperty(Element.prototype,e,{
value:Element.prototype.setAttribute,
enumerable:!1
}),Element.prototype.setAttribute=function(t,r){
"SCRIPT"==this.tagName&&"src"==t&&isDangerSrc(r)&&window.__danger_src.script_setAttribute.push(r),
this[e](t,r);
};
}
}();





</script>

<link rel="dns-prefetch" href="//res.wx.qq.com">
<link rel="dns-prefetch" href="//mmbiz.qpic.cn">
<link rel="dns-prefetch" href="https://wxa.wxs.qq.com">
<link rel="shortcut icon" type="image/x-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/NTI4MWU5.ico">
<link rel="mask-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/MjliNWVm.svg" color="#4C4C4C">
<link rel="apple-touch-icon-precomposed" href="//res.wx.qq.com/a/wx_fed/assets/res/OTE0YTAw.png">
<script nonce="1988715561" type="text/javascript">
    String.prototype.html = function(encode) {
        var replace =["&#39;", "'", "&quot;", '"', "&nbsp;", " ", "&gt;", ">", "&lt;", "<", "&yen;", "¥", "&amp;", "&"];
        var replaceReverse = ["&", "&amp;", "¥", "&yen;", "<", "&lt;", ">", "&gt;", " ", "&nbsp;", '"', "&quot;", "'", "&#39;"];
	    var target;
	    if (encode) {
	    	target = replaceReverse;
	    } else {
	    	target = replace;
	    }
        for (var i=0,str=this;i< target.length;i+= 2) {
             str=str.replace(new RegExp(target[i],'g'),target[i+1]);
        }
        return str;
    };

    window.isInWeixinApp = function() {
        return /MicroMessenger/.test(navigator.userAgent);
    };

    window.getQueryFromURL = function(url) {
        url = url || 'http://qq.com/s?a=b#rd';
        var tmp = url.split('?'),
            query = (tmp[1] || "").split('#')[0].split('&'),
            params = {};
        for (var i=0; i<query.length; i++) {
            var arg = query[i].split('=');
            params[arg[0]] = arg[1];
        }
        if (params['pass_ticket']) {
        	params['pass_ticket'] = encodeURIComponent(params['pass_ticket'].html(false).html(false).replace(/\s/g,"+"));
        }
        return params;
    };

    (function() {
	    var params = getQueryFromURL(location.href);
        window.uin = params['uin'] || "MzAzMzIzNjkxNg==" || '';
        window.key = params['key'] || "b904296be8cb5e67f11edafefdc97a673e914235e1537d3443535f2fe2eb1068d039e53bbd67666bd99abdd1bc44c24918b67610f33b4dda3aa4277b7efa3f73506c2c22248fd30c7609a503d8009cbb" || '';
        window.wxtoken = params['wxtoken'] || '';
        window.pass_ticket = params['pass_ticket'] || '';
        window.appmsg_token = "1036_JPIYiWYnVE%2FawIE0_Hdum6iqcq41nkK0-OoKlUL4kB8riye0zEo2sbfIlY9y8nb6jv9ii_myKg1mavra";
    })();

    function wx_loaderror() {
        if (location.pathname === '/bizmall/reward') {
            new Image().src = '/mp/jsreport?key=96&content=reward_res_load_err&r=' + Math.random();
        }
    }

</script>

<script nonce="1988715561" type="text/javascript">
        window.__moon_report_uin = "3033236916";
            window.no_moon_ls = 0;

</script>


<script nonce="1988715561" type="text/javascript">
    var write_sceen_time = (+new Date());

</script>


<div id="js_article" class="rich_media">

    <div id="js_top_ad_area" class="top_banner"></div>

    <div class="rich_media_inner">


        <div id="page-content" class="rich_media_area_primary">

            <div class="rich_media_area_primary_inner">
                <div id="img-content">

                    <h2 class="rich_media_title" id="activity-name">
                        喜讯喜讯！光山腩潮鲜火锅11月28日盛大开业
                    </h2>
                    <h1 class="rich_media_title">
                        地址:尚峰国际南门(味来主角对面)
                    </h1>
                    <div class="rich_media_content " id="js_content">

                        <section data-role="outer" label="Powered by 135editor.com"
                                 style="font-size:16px;font-family:微软雅黑;">
                            <section class="" style="box-sizing: border-box;padding-right: 5px;padding-left: 5px;">
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <section data-author="Wxeditor">
                                        <article class="" data-author="Wxeditor"
                                                 style="font-size: 14px;margin: 5px auto;text-align: center;">
                                            <img class=" __bg_gif" src="/image/title20191124-2029469.jpg"
                                                 data-ratio="0.13333333333333333" data-type="gif" data-w="750"
                                                 style="margin-right: auto; margin-left: auto; display: block; clear: both; width: 587px !important; height: auto !important; visibility: visible !important;"
                                                 _width="587px"
                                                 data-order="0" data-fail="0">
                                        </article>
                                    </section>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p>
                                        <br>
                                    </p>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p>
                                        <br>
                                    </p>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p style="max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="font-size: 14px;">没有一点点的防备，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">最近的天气是越来越冷了，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">连胃都是凉飕飕的，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">最好的治愈就是约上几个好友，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">搓上一顿火锅，既暖心又暖胃~</span>
                                    </p>
                                    <p style="text-align: center;margin-left: 5px;margin-right: 5px;">
                                        <img class=" __bg_gif" data-ratio="0.5633333333333334"
                                             src="/image/dongtu20191124185744.gif" data-type="gif" data-w="600"
                                             height="249"
                                             style="width: 442px !important; height: auto !important; visibility: visible !important;"
                                             width="442" _width="442px"
                                             data-order="1" data-fail="0">
                                    </p>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p>
                                        <br>
                                    </p>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p style="max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="font-size: 14px;">在当一群男女老少要吃火锅的时候，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">听说光山要有一家特殊火锅店要开业，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;">
                                        <br>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">
                                            <img class="img_loading __bg_gif" data-ratio="0.23125" src="/image/dongtu_20191124185605.gif" data-type="gif" data-w="640" height="67" style="z-index: -1;cursor: pointer;white-space: normal;width: 290px !important;height: 154.0625px !important;"  width="442" _width="442px" data-order="2">
                                        </span>
                                    </p>
                                    <p style="max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="font-size: 14px;">当西式刀叉遇上中餐火锅</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">看似风牛马不相及的两件事</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="widows: 1;max-width: 100%;background-color: #f9b943;color: #403c3c;font-size: 14px;">&nbsp;却被Ta完美的融合&nbsp;</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">闻着牛腩的自然香味</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">让中西餐在这里碰撞出激情的火花</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <strong style="caret-color: red;max-width: 100%;font-size: 20px;letter-spacing: 0.544px;">
                                            <span style="max-width: 100%;background-color: #000000;color: #ffffff;">&nbsp;TA！就！是！&nbsp;</span>
                                        </strong>
                                    </p>
                                    <p style="margin-top: 20px;margin-bottom: 20px;color: #333333;text-align: center;">
            <span style="font-size: 15px;"><strong
                    style="max-width: 100%;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;font-size: 20px;letter-spacing: 0.544px;">
                <span style="max-width: 100%;background-color: #000000;color: #ffffff;">
                    <strong style="max-width: 100%;color: #333333;letter-spacing: 0.544px;">
                        <span style="max-width: 100%;color: #ffffff;">&nbsp;▽&nbsp;</span>
                    </strong>
                </span>
            </strong>
            </span>
                                    </p>
                                    <p style="margin: 20px 5px;color: rgb(51, 51, 51);text-align: center;">
                                        <strong style="max-width: 100%;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;font-size: 20px;letter-spacing: 0.544px;">
                <span style="max-width: 100%;background-color: #000000;color: #ffffff;">
                    <strong style="max-width: 100%;color: #333333;letter-spacing: 0.544px;">
                        <span style="max-width: 100%;color: #ffffff;">
                        <img class=" __bg_gif" src="/image/daocha.jpg" data-ratio="0.13333333333333333" data-type="gif"
                             data-w="750"
                             style="margin-right: auto; margin-left: auto; display: block; clear: both; width: 587px !important; height: auto !important; visibility: visible !important;"
                             _width="587px"
                             data-order="0" data-fail="0">
                        </span>
                    </strong>
                </span>
                                        </strong>
                                    </p>
                                    <p style="margin-top: 5px;margin-bottom: 5px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;font-size: 17px;text-align: center;letter-spacing: 1px;line-height: 2.5em;">
                                        <span style="max-width: 100%;font-size: 14px;">&nbsp;史上最潮的牛腩火锅&nbsp;</span>
                                    </p>
                                    <p style="margin-top: 5px;margin-bottom: 5px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;font-size: 17px;text-align: center;letter-spacing: 1px;line-height: 2.5em;">
                                        <span style="max-width: 100%;font-size: 14px;background-color: #f9b943;">吃肉要用刀叉！吃菜要自己采摘！</span>
                                    </p>
                                    <p style="text-align: center;">
                                        <img class="img_loading" data-ratio="1" src="/image/tupian1.jpg" data-type="jpeg"
                                             data-w="300" title="300.jpg" _width="300px"
                                             style="width: 300px !important; height: 300px !important;"
                                             crossorigin="anonymous">
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">（腩潮鲜牛腩火锅）</span>
                                    </p>
                                    <section data-role="paragraph" class=""
                                             style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">

                                    </section>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p style="max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="font-size: 14px;">给吃货们发放雷打不动的</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <strong>
                    <span style="max-width: 100%;font-size: 14px;color: #c00000;">开业<strong style="max-width: 100%;">超值福利啦</strong>，
                    </span>
                                        </strong>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                <span style="max-width: 100%;color: #403c3c;font-size: 11px;">
                    （<span style="max-width: 100%;letter-spacing: 1px;">没有套路！只有满满的诚意！</span>）
                </span>
                                    </p>
                                </section>
                                </p>
                            </section>

                            <section data-id="19097" class="" data-type="lspecial02" data-tools="小蚂蚁编辑器"
                                     data-md5="d9add"
                                     style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                <section style="text-align: center;box-shadow: #646464 0px 0px 3px;margin: 3px;"
                                         data-md5="d9add">
                                    <section
                                            style="border-width: 1px;border-style: solid;border-color: rgb(0, 0, 0);box-sizing: border-box;"
                                            data-md5="d9add">
                                        <section style="padding: 8px;box-sizing: border-box;" data-md5="d9add">
                                            <section
                                                    style="border-width: 1px;border-style: solid;border-color: rgb(63, 63, 63);box-sizing: border-box;"
                                                    data-md5="d9add">
                                                <section
                                                        style="padding-top: 15px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;"
                                                        data-md5="d9add">
                                                    <section
                                                            style="letter-spacing: 1px;line-height: 24px;text-align: justify;"
                                                            data-md5="d9add">
                                                        <p style="color: #555555;font-size: 14px;text-align: center;"
                                                           class="" data-md5="d9add">
                                                            <strong>
                                                                <span style="background-color: #f9b943;font-size: 16px;">&nbsp;光山腩 潮 鲜 牛 腩 火 锅&nbsp;</span>
                                                            </strong>
                                                        </p>
                                                        <p style="color: #555555;font-size: 14px;" class=""
                                                           data-md5="d9add"><br></p>
                                                        <p style="color: #555555;font-size: 14px;text-align: center;"
                                                           class="" data-md5="d9add">
                                                            <strong>
                                                                <span style="color: #c00000;">11月28日盛大开业</span>
                                                            </strong>
                                                            <br>
                                                        </p>
                                                        <p style="color: #555555;font-size: 14px;text-align: center;"
                                                           class="" data-md5="d9add"><br></p>
                                                        <p style="color: #555555;font-size: 14px;text-align: center;"
                                                           class="" data-md5="d9add">

                                                        </p>
                                                        <p style="color: #555555;font-size: 14px;" class=""
                                                           data-md5="d9add"><br></p>
                                                        <p style="color: #555555;font-size: 14px;text-align: center;"
                                                           class="" data-md5="d9add">
                                        <span style="color: #c00000;font-size: 18px;">
                                            <strong>福 利 一</strong>
                                        </span>
                                                        </p>
                                                        <p style="color: #555555;font-size: 14px;" class=""
                                                           data-md5="d9add">
                                                            <br>
                                                        </p>
                                                        <section data-role="paragraph" class=""
                                                                 style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                                            <p style="color: #333333;font-size: 17px;max-width: 100%;min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                                                <span style="max-width: 100%;color: #403c3c;font-size: 14px;">11月28日-12月28日，</span>
                                                            </p>
                                                            <p style="max-width: 100%;min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                                                <span style="font-size: 20px;"><strong><span
                                                                        style="color:#403c3c;color: #c00000;">全场</span></strong></span><span
                                                                    style="color:#403c3c;font-size: 14px;">消费享<span
                                                                    style="font-size: 20px;"><strong><span
                                                                    style="color: #c00000;">8</span></strong></span>折优惠起！！</span>
                                                            </p>
                                                            <p style="max-width: 100%;min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                                                <span style="color:#403c3c;font-size: 14px;">（<strong>ps：酒水除外</strong>）</span>
                                                            </p></section>
                                                        <p style="color: #555555;font-size: 14px;" class=""
                                                           data-md5="d9add">
                                                            <br>
                                                        </p>
                                                    </section>
                                                </section>
                                                <section data-md5="d9add">
                                                    <p style="margin-left: 5px;margin-right: 5px;">
                                                        <strong>福 利 二</strong>
                                                        </span></p>
                                                    <p style="color: #555555;font-size: 14px;" class=""
                                                       data-md5="d9add">
                                                        <br>
                                                    </p>
                                                    <section data-role="paragraph" class=""
                                                             style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                                        <p style="color: rgb(51, 51, 51);font-size: 17px;max-width: 100%;min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;">
                                                            <span style="max-width: 100%;color: #403c3c;font-size: 14px;">敬请期待</span>
                                                        </p>
                                                        <strong>
                                                            <span style="max-width: 100%;font-size: 14px;color: #c00000;">ps：线上与线下活动不同时享受</span>
                                                        </strong>
                                                        </p>
                                                    </section>
                                                    <section data-role="paragraph" class=""
                                                             style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                                        <p><br></p></section>
                                                    <p><br></p>
                                                    <section data-md5="d9add">
                                                        <section class="" data-id="image-undefined"
                                                                 style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">

                                                        </section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                                <p>
                                    <br>
                                </p>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p style="max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="font-size: 14px;">在光山腩潮鲜你能吃到真正的，新鲜的牛腩</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">吃完牛腩、还可以涮各种好吃的，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">还有纯正菌汤，超养生！</span>
                                    </p>
                                    <section class="" data-id="image-undefined"
                                             style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                        <p style="text-align:center;">
                                            <img class="img_loading __bg_gif" data-ratio="0.9" src="/image/gaoxiao.gif"
                                                 data-w="150" _width="150px"
                                                 style="width: 150px !important; height: 135px !important;"
                                                 data-order="10">
                                        </p>
                                        <p>
                                            <br>
                                        </p>
                                    </section>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p style="max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;"><span
                                            style="color: #ffffff;"><strong><span
                                            style="font-size: 18px;background-color: #0c0c0c;">&nbsp; 店 主 推 荐&nbsp;&nbsp;</span>

        </strong>
        </span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        ☟</p>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p style="max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 3em;"><span
                                            style="background-color: #f9b943;"><strong><span style="font-size: 14px;">&nbsp;养 生 虫 草 花 菌 王 锅 底&nbsp;</span>

        </strong>
        </span>
                                    </p>
                                </section>
                                <section data-role="paragraph" class=""
                                         style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                                    <p style="text-align: center;line-height: 2.5em;margin-left: 5px;margin-right: 5px;">
                                        <img class="img_loading __bg_gif" data-ratio="0.663023679417122"
                                             src="/image/tang.jpg" data-type="gif" data-w="549" height="261"
                                             style="width: 394px !important; height: 261.231px !important;" width="394"
                                             _width="394px"
                                             data-order="11"></p>
                                    <p style="text-align: center;line-height: 2.5em;">
                                        <span style="color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;font-size: 14px;letter-spacing: 2px;caret-color: red;">精心熬制的汤底选用了9种食材，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">包括虫草花、枸杞、红枣，新鲜苹果~</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;margin-left: 5px;margin-right: 5px;">
                                        <img class="img_loading" data-ratio="0.5064814814814815" src="/image/tupian1.jpg"
                                             data-type="jpeg" data-w="1080" height="214"
                                             style="width: 422px !important; height: 213.735px !important;" width="422"
                                             _width="422px"
                                             crossorigin="anonymous">
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="font-size: 14px;caret-color: red;">文火慢炖，</span>

                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">让食材本身的味道完全融入汤底，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">是养生的好锅底</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;margin-left: 5px;margin-right: 5px;"><span
                                            style="max-width: 100%;color: #403c3c;font-size: 14px;">
                    <img class="img_loading" data-ratio="0.6666666666666666" src="/image/dongtu4.gif" data-type="jpeg"
                         data-w="1080" _width="587px"
                         style="width: 567px !important; height: 378px !important;" crossorigin="anonymous"></span></p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="font-size: 14px;caret-color: red;">涮菜前一定要先来碗滋补清汤，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;text-align: center;line-height: 2.5em;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">香菜是关键，不喜欢的也记得要加点。</span>

                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">滚烫的热汤盛入放了香菜的碗里，</span>
                                    </p>
                                    <p style="font-size: 17px;max-width: 100%;min-height: 1em;color: #333333;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;letter-spacing: 2px;line-height: 2.5em;text-align: center;">
                                        <span style="max-width: 100%;color: #403c3c;font-size: 14px;">香味瞬间被激发出来，鲜香浓郁扑鼻而来。</span>
                                    </p>
                                </section>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/main.js"></script>
</html>